<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
{% if error %}
    <p>{{ error }}</p>
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="username" value="{{ username }}"/></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password" value="{{ password }}"/></td>
        </tr>
    </table>

    <input type="submit" value="登录"/>
</form>
</body>
</html>